* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://img.freepik.com/premium-wektory/mapa-swiata-na-bialym-tle_87498-300.jpg?w=2000);
  background-size: 150%;
  background-repeat: repeat;
  color: #212121;
  line-height: 1.5;
  background-attachment: fixed;

  -webkit-animation-name: MOVE-BG;
  -webkit-animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

img {
  margin-right: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  padding: 40px;
  width: 500px;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.85);
  border: 1px solid rgb(150, 206, 228);
  border-radius: 8px;
}

#search-box {
  font: inherit;
  padding: 4px;
  width: 400px;
  margin-bottom: 16px;
}

.country-list {
  width: 100%;
}

li {
  padding: 4px;
  display: flex;
  margin: 5px;
  align-items: center;
  font-size: 20px;
  border-bottom: 1px solid rgb(216, 215, 215);
}

@-webkit-keyframes MOVE-BG {
  from {
    background-position: 0% 20%;
  }
  to {
    background-position: 187% 20%;
  }
}
